<!-- <h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p> -->

<div class="ask">
  <%= @query %>
</div>
<p> -- You</p>
<p></p>

<div class="answer">
  <%= @answer %>
</div>

<p> -- Your coach</p>
<p></p>
<%= link_to "Ask another question", 'ask' %>

